.sub-header {
  background-color: white;
  color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
