.category-container {
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    .imgBx {
      position: absolute;
      top: 20px;
      width: 300px;
      height: 220px;
      background: #333;
      border-radius: 12px;
      transition: 0.5s;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      position: absolute;
      top: 230px;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      height: 55px;
      overflow: hidden;
      text-align: justify;
      transition: 0.5s;
      h2 {
        font-size: 1.5em;
        font-weight: 700;
        color: red;
        text-align: center;
      }
      a {
        position: relative;
        top: 15px;
        display: inline-block;
        padding: 12px 25px;
        background: red;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        border-radius: 10px;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .card:hover {
    height: 400px;
    .imgBx {
      top: -100px;
      scale: 0.75;
      box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    }
    .content {
      top: 130px;
      height: 250px;
    }
  }
}
