@import "@/themes/theme.scss";
.card-product-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 10px 0;
  .swiper {
    width: fit-content;
    height: 90%;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .slide {
        background-color: white;
        padding-top: 20px;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;
        .img-product {
          transition: all 0.3s ease-in-out;
        }

        .info_product {
          display: flex;
          width: 100%;
          height: 40%;
          box-sizing: border-box;
          padding: 0 15px;
          flex-direction: column;
          .price {
            display: flex;
            gap: 10px;
            .real-price:first-child {
              color: #c73030;
              font-size: 16px;
            }
            .sub-price:last-child {
              color: #707070;
              text-decoration: line-through;
              font-size: 16px;
            }
          }
          .name-product {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: start;
            font-size: 18px;
          }
        }
      }
      .slide:hover {
        .img-product {
          display: flex;
          transform: translateY(-5px);
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev {
      color: transparent;
      transition: all 0.3s ease;
    }
    .swiper-button-next {
      color: transparent;
      transition: all 0.3s ease;
    }
    .swiper-pagination {
      bottom: 0;
    }
    .swiper-button-prev::after {
      font-size: 25px;
    }
    .swiper-button-next::after {
      font-size: 25px;
    }
  }

  .swiper:hover {
    .swiper-button-prev {
      color: blue;
      left: 0;
    }
    .swiper-button-next {
      color: blue;
      right: 0;
    }
    .swiper-pagination {
    }
  }
}
