@import "@/themes/theme.scss";
.card-product-container {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 0;
  .swiper {
    width: fit-content;
    height: 100%;
    position: relative;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .slide {
        height: 90%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border-radius: 10px;

        .img-product {
          transition: all 0.3s ease-in-out;
        }
        border-radius: 10px;

        .info_product {
          display: flex;
          width: 100%;
          height: 40%;
          box-sizing: border-box;
          padding: 0 15px;
          flex-direction: column;
          z-index: 100;
          .price {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .real-price:first-child {
              color: #c73030;
            }
            .sub-price:last-child {
              color: #707070;
              text-decoration: line-through;
            }
          }
          .name-product {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: start;
            font-size: 18px;
          }
        }
      }
      .slide:hover {
        .img-product {
          display: flex;
          transform: scale(0.95);
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-prev {
      color: transparent;
      transition: all 0.3s ease;
    }
    .swiper-button-next {
      color: transparent;
      transition: all 0.3s ease;
    }
    .swiper-horizontal > .swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal {
      top: 99%;
      width: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      .swiper-pagination-progressbar-fill {
        background-color: #ca8a04;
      }
    }
    .swiper-button-prev::after {
      font-size: 25px;
    }
    .swiper-button-next::after {
      font-size: 25px;
    }
  }

  .swiper:hover {
    .swiper-button-prev {
      color: blue;
      left: 0;
    }
    .swiper-button-next {
      color: blue;
      right: 0;
    }
    .swiper-pagination {
    }
  }
}
