.number-control {
  display: flex;
  align-items: center;
}

.number-left::before,
.number-right::after {
  content: attr(data-content);
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 20px;
  color: black;
  transition: background-color 0.3s;
  cursor: pointer;
  height: 34px;
}

.number-left::before {
  content: "-";
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.number-right::after {
  content: "+";
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.number-quantity {
  padding: 0.25rem;
  border: 0;
  width: 50px;
  -moz-appearance: textfield;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.number-left:hover::before,
.number-right:hover::after {
  background-color: #dedede;
}
