@import "@/themes/theme.scss";

.banner-container {
  .swiper-button-prev {
    left: -20px;
  }
  .swiper-button-next {
    right: -20px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: $white-color;
    color: #3f3a3a;
    font-size: 30px;
  }
  .swiper-button-prev::after {
    justify-content: flex-end;
    padding-right: 7px;
  }
  .swiper-button-next::after {
    justify-content: flex-start;
    padding-left: 7px;
  }

  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    color: $primary-color;
  }
  .swiper-pagination-bullet-active {
    background-color: $secondary-color;
  }
}
