.container-wheel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;
  .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0, 0, 0, 0.75);
    cursor: pointer;
    user-select: none;
  }
  .spinBtn::before {
    content: "";
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background-color: white;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
  }
  .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333, 0 0 0 15px #fff, 0 0 0 18px #111;

    $colors: (
      #df3535,
      // Màu đỏ
      #00ff00,
      // Màu xanh lá cây
      #0000ff,
      // Màu xanh dương
      #ffff00,
      // Màu vàng
      #ff00ff,
      // Màu tím
      #00ffff,
      // Màu lam
      #ff8000,
      // Màu cam
      #0080ff // Màu xanh da trời
    );

    @for $i from 1 through 8 {
      .reward-#{$i} {
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: nth($colors, $i);
        transform-origin: bottom right;
        transform: rotate(calc(45deg * #{$i}));
        clip-path: polygon(0 0, 58% 0, 100% 100%, 0 58%);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        user-select: none;
        cursor: pointer;
        span {
          position: absolute;
          transform: rotate(45deg);
          font-size: 1em;
          font-weight: 700;
          color: #fff;
          text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
          // top: 50%;
          // left: 50%;
        }
        .image-voucher {
          position: absolute;
          transform: rotate(calc(45deg));
          top: 44%;
          left: 30%;
        }
      }
    }
  }
}
// .box-wheel {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .container-wheel {
//   width: 500px;
//   height: 500px;
//   background-color: #ccc;
//   border-radius: 50%;
//   border: 15px solid #dde;
//   position: relative;
//   overflow: hidden;
//   transition: 5s;
// }

// .container-wheel .reward {
//   height: 50%;
//   width: 200px;
//   position: absolute;
//   clip-path: polygon(100% 0, 50% 100%, 0 0);
//   transform: translateX(-50%);
//   transform-origin: bottom;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: 20px;
//   font-weight: bold;
//   font-family: sans-serif;
//   color: #fff;
//   left: 135px;
// }

// .container-wheel .one {
//   background-color: #3f51b5;
//   left: 50%;
// }
// .container-wheel .two {
//   background-color: #ff9800;
//   transform: rotate(45deg);
// }
// .container-wheel .three {
//   background-color: #e91e63;
//   transform: rotate(90deg);
// }
// .container-wheel .four {
//   background-color: #4caf50;
//   transform: rotate(135deg);
// }
// .container-wheel .five {
//   background-color: #009688;
//   transform: rotate(180deg);
// }
// .container-wheel .six {
//   background-color: #795548;
//   transform: rotate(225deg);
// }
// .container-wheel .seven {
//   background-color: #9c27b0;
//   transform: rotate(270deg);
// }
// .container-wheel .eight {
//   background-color: #f44336;
//   transform: rotate(315deg);
// }

// .spinBtn {
//   position: absolute;
//   width: 60px;
//   height: 60px;
//   background-color: red;
//   border-radius: 50%;
//   z-index: 10;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-transform: uppercase;
//   font-weight: 600;
//   color: #333;
//   letter-spacing: 0.1em;
//   border: 4px solid rgba(0, 0, 0, 0.75);
//   cursor: pointer;
//   user-select: none;
// }
// .spinBtn::before {
//   content: "";
//   position: absolute;
//   top: -28px;
//   width: 20px;
//   height: 30px;
//   background-color: red;
//   clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
// }
