.container-wheel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  height: 420px;

  .circle-container {
    width: 420px;
    height: 420px;
    z-index: 10;
    @keyframes mymove {
      50% {
        transform: scale(2);
        opacity: 0;
      }
      100% {
        transform: scale(2);
        opacity: 0;
      }
    }

    @for $i from 1 through 8 {
      $angle: 45deg * $i;
      .circle-light-#{$i} {
        position: absolute;
        z-index: 10;
        border: 1px solid #005fe6;
      }

      .circle-light-1 {
        top: calc(50% - 15px + 236px * sin(45deg));
        left: calc(50% - 15px + 236px * cos(45deg));
      }
      .circle-light-2 {
        top: calc(50% - 15px + 236px * sin(45deg * 2));
        left: calc(50% - 9px + 236px * cos(45deg * 2));
      }
      .circle-light-3 {
        top: calc(50% - 15px + 236px * sin(45deg * 3));
        left: calc(50% - 0px + 236px * cos(45deg * 3));
      }
      .circle-light-4 {
        top: calc(50% - 8px + 236px * sin(45deg * 4));
        left: calc(50% - 0px + 236px * cos(45deg * 4));
      }
      .circle-light-5 {
        top: calc(50% - 0px + 236px * sin(45deg * 5));
        left: calc(50% - 0px + 236px * cos(45deg * 5));
      }
      .circle-light-6 {
        top: calc(50% - 0px + 236px * sin(45deg * 6));
        left: calc(50% - 6px + 236px * cos(45deg * 6));
      }
      .circle-light-7 {
        top: calc(50% - 0px + 228px * sin(45deg * 7));
        left: calc(50% - 0px + 228px * cos(45deg * 7));
      }
      .circle-light-8 {
        top: calc(50% - 8px + 220px * sin(45deg * 8));
        left: calc(50% - 0px + 220px * cos(45deg * 8));
      }

      .circle-light-#{$i},
      .circle-light-#{$i}::before {
        content: " ";
        margin: 15px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        margin: 0 auto;
        transition: all 0.3s;
        background-color: #fde142;
      }

      .circle-light-#{$i}::before {
        animation: mymove 2s infinite;
        position: absolute;
        background-color: #ffe969;
      }
    }
  }

  .spinBtn {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid #eccb60;
    cursor: pointer;
    user-select: none;
    z-index: 30;
  }
  .spinBtn::before {
    content: "";
    position: absolute;
    top: -20px;
    width: 30px;
    height: 20px;
    background-color: #eccb60;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);
  }
  .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333, 0 0 0 30px #fff, 0 0 0 32px #111;

    $colors: (
      #ffffff,
      #005fe6,
      #ffffff,
      #005fe6,
      #ffffff,
      #005fe6,
      #ffffff,
      #005fe6
    );

    $colors-text: (
      #005fe6,
      #ffffff,
      #005fe6,
      #ffffff,
      #005fe6,
      #ffffff,
      #005fe6,
      #ffffff
    );

    @for $i from 1 through 8 {
      .reward-#{$i} {
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: nth($colors, $i);
        transform-origin: bottom right;
        transform: rotate(calc(45deg * #{$i}));
        clip-path: polygon(0 0, 58% 0, 100% 100%, 0 58%);
        user-select: none;
        cursor: pointer;
        .icon {
          position: absolute;
          top: 35%;
          left: 30%;
          width: fit-content;
          color: rgb(190, 190, 17);
        }

        span {
          position: absolute;
          transform: rotate(-45deg);
          font-size: 1em;
          font-weight: 700;
          color: #fff;
          text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.15);
          top: 35%;
          left: 30%;
          width: 80px;
          text-align: center;
          color: nth($colors-text, $i);
          text-transform: uppercase;
        }
        .image-voucher {
          position: absolute;
          transform: rotate(calc(45deg));
          top: 44%;
          left: 30%;
        }
      }
    }
  }
}
